<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2004- 2019 All Rights Reserved.
  ~ DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
  ~ FileName: mybatis-config.xml
  ~ Author:   bigmoon
  ~ Date:     19-11-13 上午12:37
  ~ Description: mybatis-learning
  -->

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="cacheEnabled" value="true" />
    </settings>
    
    <typeAliases>
        <typeAlias type="entity.Country"></typeAlias>
        <typeAlias type="entity.CallRecord"></typeAlias>
    </typeAliases>
    
    <typeHandlers>
        <typeHandler javaType="entity.CountryStatusEnum" handler="handler.CountryStatusTypeHandler"/>
    </typeHandlers>

    <plugins>
        <plugin interceptor="interceptors.FirstInterceptor"></plugin>
    </plugins>
    <!-- 和spring整合后 environments配置将废除 -->
    <environments default="development">
        <environment id="development">
            <!-- 使用jdbc事务管理 -->
            <transactionManager type="JDBC"/>
            <!-- 数据库连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value="123456y"/>
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
        <!--<mapper resource="sql/CountryMapper.xml"></mapper>-->
        <!--<mapper resource="sql/CallRecordMapper.xml"></mapper>-->
        
        <!--package 是定义mapper的基础包路径，不是文件路径名称-->
        <package name="sql"></package>
    </mappers>
</configuration>